<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">[%-5level] %d{yyy-MM-dd HH:mm:ss.SSS} [%t] %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <RollingFile name="logFile"
                     fileName="${LOG_DIR}/all.log"
                     filePattern="${ARCHIVE}/all.log.%d{yyyy-MM-dd-hh}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <SizeBasedTriggeringPolicy size="500KB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="logFile" level="warn"/>
        </Root>
        <Logger name="com.serviceapp" level="debug">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="logFile" level="warn"/>
        </Logger>
    </Loggers>
</Configuration>